<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saludo</title>
    <style>
        html {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<h1>¡Hola!</h1>
{% block contenido %} {% endblock %}
<img src="{{ asset('logo.jpg') }}">
<a href="{{ path('saludar', {'nombre' : 'Juan'}) }}">Saludar a Juan</a>
</body>
</html>