{% extends 'base.html.twig' %}

{%  block contenido %}
<h1>¡Hola mundo, {{ nombre }}!</h1>
<p>
    {{ hobbies | join(', ') }}
</p>
<ul>
    {% for hobby in hobbies %}
        <li>{{ hobby }}</li>
    {% endfor %}
</ul>
    <a href="{{ path('inicio') }}">Volver al incio</a>
{% endblock %}
